@charset "utf-8";

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #121212;
    color: white;
}

.btn {
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

.menu-item {
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #2a2a2a;
}

.icon {
    stroke: white;
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
}

.transition-all {
    transition: border-color 0.3s, color 0.3s;
}